# Example environment variables for Terminus Storage

# Pinata-related keys
NEXT_PUBLIC_PINATA_API_KEY=becc44c213c093050bd4
NEXT_PUBLIC_PINATA_SECRET_API_KEY=2d58705722cc2d94aa03d1f6122b305f218e12fc3eb6ec1dacdd5c9fffdb4b24


# Solana network configuration
SOLANA_NETWORK=devnet

# Lit Protocol network configuration
LIT_NETWORK=datil-dev

# Node environment
NODE_ENV=development

# Test-related keys
TEST_EVM_PRIVATE_KEY=your-evm-private-key
TEST_VAULT_PDA=REPLACE_WITH_YOUR_VAULT_PDA
TEST_OWNER_SOLANA=REPLACE_WITH_OWNER_SOLANA_ADDRESS
TEST_VAULT_UNLOCKED=false